<div class="header">
         <img src="/images/logo.svg" width="190" height="110"> 
         <div class="pages">
            <a href="/">HOME |</a>
            <a href="/aboutus">ABOUT US |</a>
            <a href="/community"> COMMUNITY |</a>
            <a href="/product"> PRODUCT |</a>
            <a href="/dealer"> DEALER |</a>
            <a href="/contact"> CONTACT US |</a>
            <a href="/login"> LOGIN |</a>
            <a href="/register"> REGISTER |</a>
            <a href="/auth/logout"> LOGOUT </a>
          </div>
</div>