<!DOCTYPE html>
<html>
    <head>
       <title>
         ABOUTUS
       </title>
       <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="back">
      <div class="header">
         <img src="/images/logo.svg" width="190" height="110">
         <a href="vm" class="abthead">Vision&mission</a>
         <a href="qa" class="abthead">Quality Assurance</a>
         <a href="cert" class="abthead">Certification</a>
         <div class="pages">
            <a href="/">HOME|</a>
            <a href="/aboutus">ABOUT US|</a>
            <a href="/community"> COMMUNITY|</a>
            <a href="/product"> PRODUCT|</a>
            <a href="/dealer"> DEALER|</a>
            <a href="/contact"> CONTACT US |</a>
            <a href="/login"> LOGIN |</a>
            <a href="/register"> REGISTER |</a>
            <a href="/auth/logout"> LOGOUT |</a>
         </div>
      </div>
       <br>
      <div class="certi">
         <u class="heading">CERTIFICATIONS</u>
         <li style="list-style-type:circle ">Agni Steels, we believe that steel is more than just a material; it's the foundation for a stronger, more sustainable tomorrow.
We are here to partner with you in shaping that future. Let's build a legacy together, one project, one steel bar at a time.</li>
          <img src="/images/certificate1.jpg">
          <img src="/images/certificate2.jpg">
          <img src="/images/certificate3.jpg">
          <hr style="height: 5px; background-color:aliceblue;margin-top:10px">
          <div class="certilast">
          <p>FOR MORE INFORMATION-> </p><a href="/contact">CONTACT US</a>
          </div>
      </div>
         
    </body>
</html>
