<!DOCTYPE html>
<html>
<head>
    <title>CONTACT US</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="back">
    {{> header}}
    <br>
    <div class="cont">
        <div class="conimagleft">
            <div class="img-text-container">
                <img src="/images/contacticon.svg">
                <ul>
                    <li>Landline: 04294230560</li>
                    <li>Mobile: +91 9384036172</li>
                    <li>Mobile: +91 7094470026</li>
                    <li>Mobile: +91 9865225635</li>
                    <li>TOLLFREE NO: 18001215676</li>
                </ul>
            </div>
            <hr>
            <br>
            <div class="img-text-container">
                <img src="/images/youtube.svg">
                <a href="https://www.youtube.com/channel/UC9I0u-zXHSgM0xsdLQ_GA6A/videos">YouTube Channel</a>
            </div>
            <hr>
            <br>
            <div class="img-text-container">
                <img src="/images/instagramicon.svg">
                <a href="https://www.instagram.com/agnisteels/">Instagram</a>
            </div>
            <hr>
        </div>
        <div class="vertical-col"></div>
        <div class="conimagright">
            <div class="img-text-container">
                <img src="/images/locationicon.svg">
                <p>Registered Office: Agni Steels Private Limited, 39/1, Perundurai Road, Builders Association Building, 1st floor, Erode - 638011, Tamil Nadu, India<br>
                Email: <a href="mailto:agnierode@agnisteels.com">agnierode@agnisteels.com</a><br>
                Website: <a href="http://www.agnisteels.com">www.agnisteels.com</a></p>
            </div>
            <hr>
            <br>
            <div class="img-text-container">
                <img src="/images/facebookicon.svg">
                <a href="https://www.facebook.com/agnisteelsindia">Facebook Page</a>
            </div>
            <hr>
        </div>
    </div>
</body>
</html>
