<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body class="back">
    {{> header}}
    <br>
    <div class="container">
        <a class="btn btn-left">
            <i class="fa fa-caret-square-left" style="color:rgba(248, 248, 247, 0.822);border-radius:2px"></i>
        </a>
        <a class="btn btn-right">
            <i class="fa fa-caret-square-right" style="color:rgba(248, 248, 247, 0.822);border-radius:2px"></i>
        </a>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <div class="section1">
        <div class="main" data-aos="fade-right" data-aos-delay="700">
            <iframe style='position:absolute; float:left; width: 512px; height: 290px;'
                src="https://www.youtube.com/embed/VX6DMc_y9vo?si=YKAyi0gl8S3N_f1i" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="homepara" data-aos="fade-left" data-aos-delay="700">
            <p>Steel TMT (Thermo-Mechanically Treated) bars are high-strength reinforcement materials used in construction. They undergo mechanical deformation and thermal treatment, enhancing tensile strength, ductility, and corrosion resistance. Known for their excellent bonding with concrete, TMT bars are ideal for high-stress environments like infrastructure and buildings. Their durability and resilience ensure long-lasting and safe constructions.</p>
                <br><br>
        </div>
    </div>
    <div class="section2">
        <section class="homeparaleft" data-aos="fade-right" data-aos-delay="700">
            <p style="font-size:30px">
                The <span style="color: aquamarine; font-weight: bold;">Backbone</span> of good construction is
                <br><span style="color: darkgrey; font-weight: bold;">quality steel rods</span></p>
            <br>
            <p>We are driven by what we create. Crafting a high calibre product at good value for customers is the
                fundamental objective of our company. Every batch of steel bars that leaves our factories also brings with
                it the weight of this objective. It is the reason we strive on a daily basis for our steel bars to be
                better tomorrow than it is today. At Agni Steel we value our customers' belief in our product and ensure
                that we do not let them down. It is important to us that we consistently provide a high quality product
                with good value. Our manufacturing processes at every step of the way are leading edge, sophisticated and
                standardized to ensure consistent quality.</p>
        </section>
        <section class="homeparaleft" data-aos="fade-left" data-aos-delay="700">
            <img src="/images/agniphoto2.jpg" alt="Agni Steel Photo" style="width:600px;height:500px">
        </section>
    </div>
    <div class="section3" data-aos="zoom-in" data-aos-delay="700">
        <u style="color:yellow;">PRODUCTS</u>
        <span class="section3inner">
        <p><span style="font-size:30px"><span style="color: yellow;">TMT</span> STEEL BARS</span><br><br>
         AGNI's high quality Thermo Mechanically Treated (TMT) bars are manufactured using state-of-the-art equipment and supervised by expert metallurgists and engineers. Our TMT steel bars are made using TEMPCORE technology. An innovative technology, which involves the sudden quenching that converts the surface layer of the steel bar to a hardened structure. This produces a steel bar on par with international standards. Our TMT steel bars hold an IS: 1786 Indian standards certificate.
         </p>
         <img src="/images/agniphoto3.jpeg" style="width:512px">
         </span>
    </div>

</body>

</html>
