<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agni tmt 6</title>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body class="back">		
    {{>header}}
    <div class="prodpage">
        <img class="prodimage" src="/images/agni 16 cut.svg" >
        <br>
        <p><span class="prodspan">NAME: </span>AGNI TMT 16 </p>
        <p><span class="prodspan">NOMINAL WEIGHT (KG/METRE): </span>1.580</p>
        <p><span class="prodspan">TOLERANCE (KG/METRE): </span>1.485-1.658</p>
        <p><span class="prodspan">PRICE/TON*(INC GST/ EXCL. FREIGHT): </span>₹ 75820</p><br>
        <button>BUY</button>
    </div>
</body>
</html>