<!DOCTYPE html>
<html>
    <head>
       <title>
         PRODUCT
       </title>
       <link rel="stylesheet" href="/css/style.css">
       <script src="script.js" defer></script>   
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="back">

       {{>header}}
       <br>
      <div class="prod">
         <p class="leftprod">
            <a href='prod1' data-amount = "80020/TON"><img src="/images/agni 6 cut.svg"></a>
         </p>
         <br>
         <p class="rightprod">
            <a href='prod2' data-amount = "77020/TON"><img src="/images/agni 8 cut.svg"></a>
         </p>
         <br>
         <p class="leftprod">
            <a href='prod3' data-amount = "75820/TON"><img src="/images/agni 10 cut.svg"></a>
         </p>
         <br>
         <p class="rightprod">
            <a href='prod4' data-amount = "75820/TON"><img src="/images/agni 12 cut.svg"></a>
         </p>
         <br>
         <p class="leftprod">
            <a href='prod5' data-amount = "75820/TON"><img src="/images/agni 16 cut.svg"></a>
         </p>
         <br>
         <p class="rightprod">
            <a href='prod6' data-amount = "75820/TON"><img src="/images/agni 20 cut.svg"></a>
         </p>
         <br>
         <p class="leftprod">
            <a href='prod7' data-amount = "75820/TON"><img src="/images/agni 25 cut.svg"></a>
         </p>
         <br>
         <p class="rightprod">
            <a href='prod8' data-amount = "77020/TON"><img src="/images/agni 32 cut.svg"></a>
         </p>
         <br>
      </div>
      <script>
         document.addEventListener('DOMContentLoaded', function () {
            const productLinks = document.querySelectorAll('.prod a');

            productLinks.forEach(link => {
               link.addEventListener('click', function (event) {
                  event.preventDefault();
                  const amount = this.getAttribute('data-amount');
                  alert(`The amount of this product is: ₹${amount}`);

                  // Use a confirmation dialog for the redirect logic
                  if (confirm('Do you want to proceed to the product page?')) {
                     // Use the href attribute of the link for redirection
                     window.location.href = this.getAttribute('href');
                  } else {
                     // You can add any other actions to take if the user cancels
                     console.log('User canceled the redirect.');
                  }
               });
            });
         });

      </script>
    </body>
</html>
