<!DOCTYPE html>
<html>
    <head>
       <title>
         ABOUTUS
       </title>
       <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="back">
      <div class="header">
         <img src="/images/logo.svg" width="190" height="110">
         <a href="vm" class="abthead">Vision&mission</a>
         <a href="qa" class="abthead">Quality Assurance</a>
         <a href="cert" class="abthead">Certification</a>
         <div class="pages">
            <a href="/">HOME|</a>
            <a href="/aboutus">ABOUT US|</a>
            <a href="/community"> COMMUNITY|</a>
            <a href="/product"> PRODUCT|</a>
            <a href="/dealer"> DEALER|</a>
            <a href="/contact"> CONTACT US |</a>
            <a href="/login"> LOGIN |</a>
            <a href="/register"> REGISTER |</a>
            <a href="/auth/logout"> LOGOUT |</a>
         </div>
      </div>
      <br>
      <div class="quality">
         <u class="heading">QUALITY ASSURANCE</u>
         <p>we are committed to delivering superior quality products that meet the highest standards of performance and
            safety. Our comprehensive quality assurance processes ensure that every batch of steel we produce is consistent,
            reliable, and ready to meet the demands of modern construction based on various sizes.
            Our Products</p>
         <br>
         <P> <span style="color: chartreuse;">TMT Bars:</span><br>
      
            Quality Assurance: Our Thermo-Mechanically Treated (TMT) bars undergo rigorous testing to ensure high tensile
            strength, flexibility, and superior seismic resistance. Each batch is carefully monitored to meet ISI standards
            and international benchmarks, ensuring durability and safety in construction applications.</P>
         <br>
         <P><span style="color:chartreuse;"> CRS Bars:</span><br>
      
            Quality Assurance: Corrosion Resistant Steel (CRS) bars are engineered for longevity in harsh environments. Our
            CRS bars are subjected to stringent corrosion resistance tests and quality checks to guarantee their performance
            and durability, making them ideal for coastal and corrosive areas.</P>
         <br>   
         <P><span style="color: chartreuse;">Ready-Made Steel Rings (RMS):</span><br>
      
            Quality Assurance: Ready-Made Steel Rings (RMS) are precision-engineered for consistency and ease of use. Each
            ring undergoes thorough inspection and quality control processes to ensure uniformity in size and strength,
            providing reliable performance in construction projects..
         </p>
      </div>
    </body>
</html>