<!DOCTYPE html>
<html>
    <head>
       <title>
         ABOUTUS
       </title>
       <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="back">
      <div class="header">
         <img src="/images/logo.svg" width="190" height="110">
         <a href="vm" class="abthead">Vision&mission</a>
         <a href="qa" class="abthead">Quality Assurance</a>
         <a href="cert" class="abthead">Certification</a>
         <div class="pages">
            <a href="/">HOME|</a>
            <a href="/aboutus">ABOUT US|</a>
            <a href="/community"> COMMUNITY|</a>
            <a href="/product"> PRODUCT|</a>
            <a href="/dealer"> DEALER|</a>
            <a href="/contact"> CONTACT US |</a>
            <a href="/login"> LOGIN |</a>
            <a href="/register"> REGISTER |</a>
            <a href="/auth/logout"> LOGOUT |</a>
         </div>
      </div>
       <br>
   <div class="vm">
    <div class="vision">
        <u class="heading">VISION</u>
        <img src="/images/vision.jpg">
        <br>
        <p><span style="color: cyan;margin-left:350px;">"Building Strength, Shaping the Future"</span></p>
        <br>
        <p>To become a leading and reputed organization, respected by all stakeholders including dealers, employees, and
            society.
        </p>
    </div>
      <div class="mission">
        <u class="heading">MISSION</u>
        <img src="/images/mission.jpg">
        <p>At Agni TMT Steels, our mission is to forge strong relationships with our stakeholders by delivering superior quality steel products, fostering innovation, and promoting sustainable practices.</p>
      </div>
    </div>    
    </body>
</html>
